@import url("https://fonts.googleapis.com/css?family=Heebo");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  color: #0f0f0f;
}

.primary {
  background: #ee6e73;
}

header#header {
  position: sticky;
  top: 0;
  z-index: 5;
}
header#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header#header nav .marque {
  max-height: 100%;
  display: block;
}
header#header nav .marque img {
  max-height: 100px;
}
header#header nav ul {
  height: 100%;
  margin: 0;
  list-style: none;
  display: flex;
}
header#header nav ul li:last-child {
  margin-right: 0;
}
header#header nav ul li a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 25px;
  position: relative;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}
header#header nav ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  background: white;
  width: 100%;
  transition: all 0.15s ease-in-out;
}
header#header nav ul li a:hover:after {
  height: 6px;
}
header#header nav .connexion {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
header#header nav .connexion a {
  padding: 0 30px;
  background: white;
  color: #ee6e73;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
}
header#header nav .connexion a:hover + .drop {
  display: block;
}
header#header nav .connexion .drop {
  z-index: 2;
  display: none;
  position: absolute;
  top: 100%;
  width: 300px;
  left: -87px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0 14px 10px -3px;
  padding-top: 20px;
}
header#header nav .connexion .drop:hover {
  display: block;
}
header#header nav .connexion .drop ul {
  padding-top: 0;
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: block;
}
header#header nav .connexion .drop ul li {
  margin-bottom: 15px;
  line-height: 1;
}
header#header nav .connexion .drop ul li a {
  background: none;
  color: #ee6e73;
  font-size: 16px;
}
header#header nav .connexion .drop ul li a:after {
  display: none;
}
header#header nav .connexion .drop ul li a:before {
  display: none;
}
header#header nav .connexion .drop ul li a:hover {
  color: black;
}
header#header nav .connexion .drop ul li a.logout {
  color: #ff4646;
}
header#header nav .connexion .drop ul li a.logout:hover {
  color: black;
}

body#home {
  display: block;
}
body#home main section#visuel-home {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
body#home main section#visuel-home #parcourir {
  margin-top: 200px;
}
body#home main section#visuel-home #emprunt, body#home main section#visuel-home #parcourir {
  display: flex;
}
body#home main section#visuel-home #emprunt a, body#home main section#visuel-home #parcourir a {
  padding: 25px;
  background: #ffeb3b;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
body#home main section#visuel-home #emprunt a:before, body#home main section#visuel-home #parcourir a:before {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 100%;
  right: 100%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ffe608;
  transform-origin: center;
  transform: translate(50%, 50%) scale(0);
  transition: transform 0.2s ease-in-out;
}
body#home main section#visuel-home #emprunt a:hover:before, body#home main section#visuel-home #parcourir a:hover:before {
  transform: translate(50%, 50%) scale(15);
}
body#home main section#visuel-home .big-scrolldown {
  position: absolute;
  bottom: -10px;
}
body#home main section#visuel-home .big-scrolldown i {
  font-size: 3rem;
  color: #ee6e73;
}
body#home main section#tendance-livre {
  background: #fff;
  margin: 30px;
  padding: 15px;
  display: grid;
  grid-template: auto auto/1fr 1fr 1fr;
  grid-template-areas: "titre titre titre" "article1 article2 article3";
}
body#home main section#tendance-livre h2 {
  grid-area: titre;
  padding-left: 15px;
  font-size: 1.8rem;
  text-transform: uppercase;
  position: relative;
}
body#home main section#tendance-livre h2:after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 15px;
  right: 30%;
  height: 3px;
  background: linear-gradient(135deg, #ee6e73 20%, #fff 100%);
}
body#home main section#tendance-livre h2 i {
  color: #ee6e73;
}
body#home main section#tendance-livre article {
  background: #dedede;
  padding: 0 15px;
  margin: 0 15px;
}
body#home main section#tendance-livre article:first-child {
  grid-area: article1;
}
body#home main section#tendance-livre article a:nth-child(2) {
  grid-area: article2;
}
body#home main section#tendance-livre article:last-child {
  grid-area: article3;
}
body#home main section#tendance-livre article header {
  position: relative;
}
body#home main section#tendance-livre article header h4 {
  text-transform: uppercase;
  font-size: 1.3rem;
  margin: 0;
  padding: 16px 0;
}
body#home main section#tendance-livre article header .disponibilite {
  position: absolute;
  top: 0;
  right: -15px;
  background: green;
  color: #fff;
  padding: 4px 6px;
  border-bottom-left-radius: 4px;
}
body#home main section#tendance-livre article header .disponibilite.-non {
  background: red;
}
body#home main section#tendance-livre article footer {
  display: flex;
  justify-content: space-between;
}

.dashboard {
  margin-top: 40px;
}
.dashboard aside {
  padding: 0 !important;
}
.dashboard aside .collection .collection-item {
  padding-left: 22px;
}
.dashboard aside .collection .collection-item a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #0f0f0f;
}
.dashboard aside .collection .collection-item a i {
  margin-right: 10px;
}
.dashboard .main-dashboard {
  margin-top: 0.5rem;
  border: 1px solid #e0e0e0;
  padding: 15px;
}

/*# sourceMappingURL=style.css.map */
