html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  font-family: 'Heebo', sans-serif;
  color: $dark;
}
.primary{
  background: $primary;
}
.pr-0{
  padding-right: 0!important;
}

.mt-5{
  margin-top: 30px;
}