header#header{
  position: sticky;
  top: 0;
  z-index: 5;
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .marque{
      max-height: 100%;
      display: block;
      img{
        max-height: 100px;
      }
    }
    ul{
      height: 100%;
      margin: 0;
      list-style: none;
      display: flex;
      li{
        &:last-child{
          margin-right: 0;
        }
        a{
          display: flex;
          align-items: center;
          height: 100%;
          padding: 0 25px;
          position: relative;
          color: white;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 1.2rem;
          font-weight: 600;
          &:after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 0;
            background: white;
            width: 100%;
            transition: all 0.15s ease-in-out;
          }
          &:hover{
            &:after{
              height: 6px;
            }
          }
        }
      }
    }
    .connexion{
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;
      a{
        padding: 0 30px;
        background: white;
        color: $primary;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
        position: relative;
        &:hover{
          + .drop{
            display: block;
          }
        }
      }
      .drop{
        &:hover{
          display: block;
        }

        z-index: 2;
        display: none;
        position: absolute;
        top: 100%;
        width: 300px;
        left: -87px;
        background: white;
        box-shadow: rgba(0,0,0, 0.5) 0 14px 10px -3px;
        padding-top: 20px;
        ul{
          padding-top: 0;
          padding-left: 0;
          margin: 0;
          list-style: none;
          display: block;
          li{
            margin-bottom: 15px;
            line-height: 1;
            a{
              background: none;
              color: $primary;
              font-size: 16px;
              &:after{
                display: none;
              }
              &:before{
                display: none;
              }
              &:hover{
                color: black;
              }
              &.logout{
                color: $danger;
                &:hover{
                  color: black;
                }
              }
            }
          }
        }
      }
    }
  }
}